// globals.scss
@import "./animation.scss";
@import "./window.scss";
@import "./themes.scss";



.yellow-light {
  @include light("yellow");
}
.purple-light {
  @include light("purple");
}
.green-light {
  @include light("green");
}
.brown-light {
  @include light("brown");
}
.yellow-dark {
  @include dark("yellow");
}
.purple-dark {
  @include dark("purple");
}
.green-dark {
  @include dark("green");
}
.brown-dark {
  @include dark("brown");
}
.yellow-auto {
  @include light("yellow");
}
.purple-auto {
  @include light("purple");
}
.green-auto {
  @include light("green");
}
.brown-auto {
  @include light("brown");
}
.background-dot{
  background-image: var(--dot);
}

.background-stripe{
  background-image: var(--stripe);
}

.background-mountain{
  background-image: var(--mountain);
}

.background-pinwheel{
  background-image: var(--pinwheel);
}

.background-rain{
  background-image: var(--rain);
}


.mask {
  filter: invert(0.8);
}
:root {
  --dot: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Crect fill='%23330033' width='90' height='90'/%3E%3Ccircle fill-opacity='1' fill='%2306B' cx='45' cy='45' r='10'/%3E%3Cg fill='%23800' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
  --stripe: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Crect fill='%23cccccc' width='1600' height='1200'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.02' stop-color='%23cccccc'/%3E%3Cstop offset='0.02' stop-color='%23c1c1c1'/%3E%3Cstop offset='0.032' stop-color='%23cccccc'/%3E%3Cstop offset='0.032' stop-color='%23858585'/%3E%3Cstop offset='0.056' stop-color='%23cccccc'/%3E%3Cstop offset='0.056' stop-color='%23a0a0a0'/%3E%3Cstop offset='0.07' stop-color='%23cccccc'/%3E%3Cstop offset='0.07' stop-color='%23a7a7a7'/%3E%3Cstop offset='0.1' stop-color='%23cccccc'/%3E%3Cstop offset='0.1' stop-color='%23cfcfcf'/%3E%3Cstop offset='0.126' stop-color='%23cccccc'/%3E%3Cstop offset='0.126' stop-color='%23e9e9e9'/%3E%3Cstop offset='0.142' stop-color='%23cccccc'/%3E%3Cstop offset='0.142' stop-color='%23d2d2d2'/%3E%3Cstop offset='0.159' stop-color='%23cccccc'/%3E%3Cstop offset='0.159' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.17' stop-color='%23cccccc'/%3E%3Cstop offset='0.17' stop-color='%23e6e6e6'/%3E%3Cstop offset='0.197' stop-color='%23cccccc'/%3E%3Cstop offset='0.197' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.218' stop-color='%23cccccc'/%3E%3Cstop offset='0.218' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.239' stop-color='%23cccccc'/%3E%3Cstop offset='0.239' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.254' stop-color='%23cccccc'/%3E%3Cstop offset='0.254' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.283' stop-color='%23cccccc'/%3E%3Cstop offset='0.283' stop-color='%23ececec'/%3E%3Cstop offset='0.294' stop-color='%23cccccc'/%3E%3Cstop offset='0.294' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.305' stop-color='%23cccccc'/%3E%3Cstop offset='0.305' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.332' stop-color='%23cccccc'/%3E%3Cstop offset='0.332' stop-color='%23a2a2a2'/%3E%3Cstop offset='0.346' stop-color='%23cccccc'/%3E%3Cstop offset='0.346' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.362' stop-color='%23cccccc'/%3E%3Cstop offset='0.362' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.381' stop-color='%23cccccc'/%3E%3Cstop offset='0.381' stop-color='%23c1c1c1'/%3E%3Cstop offset='0.415' stop-color='%23cccccc'/%3E%3Cstop offset='0.415' stop-color='%23f5f5f5'/%3E%3Cstop offset='0.428' stop-color='%23cccccc'/%3E%3Cstop offset='0.428' stop-color='%23b6b6b6'/%3E%3Cstop offset='0.442' stop-color='%23cccccc'/%3E%3Cstop offset='0.442' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.456' stop-color='%23cccccc'/%3E%3Cstop offset='0.456' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.498' stop-color='%23cccccc'/%3E%3Cstop offset='0.498' stop-color='%23e3e3e3'/%3E%3Cstop offset='0.511' stop-color='%23cccccc'/%3E%3Cstop offset='0.511' stop-color='%23d9d9d9'/%3E%3Cstop offset='0.532' stop-color='%23cccccc'/%3E%3Cstop offset='0.532' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.541' stop-color='%23cccccc'/%3E%3Cstop offset='0.541' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.56' stop-color='%23cccccc'/%3E%3Cstop offset='0.56' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.581' stop-color='%23cccccc'/%3E%3Cstop offset='0.581' stop-color='%239e9e9e'/%3E%3Cstop offset='0.6' stop-color='%23cccccc'/%3E%3Cstop offset='0.6' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.618' stop-color='%23cccccc'/%3E%3Cstop offset='0.618' stop-color='%23b2b2b2'/%3E%3Cstop offset='0.656' stop-color='%23cccccc'/%3E%3Cstop offset='0.656' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.679' stop-color='%23cccccc'/%3E%3Cstop offset='0.679' stop-color='%23d8d8d8'/%3E%3Cstop offset='0.689' stop-color='%23cccccc'/%3E%3Cstop offset='0.689' stop-color='%23c3c3c3'/%3E%3Cstop offset='0.72' stop-color='%23cccccc'/%3E%3Cstop offset='0.72' stop-color='%23c8c8c8'/%3E%3Cstop offset='0.734' stop-color='%23cccccc'/%3E%3Cstop offset='0.734' stop-color='%23a4a4a4'/%3E%3Cstop offset='0.748' stop-color='%23cccccc'/%3E%3Cstop offset='0.748' stop-color='%23dadada'/%3E%3Cstop offset='0.764' stop-color='%23cccccc'/%3E%3Cstop offset='0.764' stop-color='%23d3d3d3'/%3E%3Cstop offset='0.788' stop-color='%23cccccc'/%3E%3Cstop offset='0.788' stop-color='%23dedede'/%3E%3Cstop offset='0.808' stop-color='%23cccccc'/%3E%3Cstop offset='0.808' stop-color='%23cbcbcb'/%3E%3Cstop offset='0.831' stop-color='%23cccccc'/%3E%3Cstop offset='0.831' stop-color='%23b0b0b0'/%3E%3Cstop offset='0.856' stop-color='%23cccccc'/%3E%3Cstop offset='0.856' stop-color='%23acacac'/%3E%3Cstop offset='0.872' stop-color='%23cccccc'/%3E%3Cstop offset='0.872' stop-color='%23d1d1d1'/%3E%3Cstop offset='0.894' stop-color='%23cccccc'/%3E%3Cstop offset='0.894' stop-color='%23bdbdbd'/%3E%3Cstop offset='0.914' stop-color='%23cccccc'/%3E%3Cstop offset='0.914' stop-color='%23cdcdcd'/%3E%3Cstop offset='0.942' stop-color='%23cccccc'/%3E%3Cstop offset='0.942' stop-color='%23b6b6b6'/%3E%3Cstop offset='0.957' stop-color='%23cccccc'/%3E%3Cstop offset='0.957' stop-color='%239f9f9f'/%3E%3Cstop offset='0.973' stop-color='%23cccccc'/%3E%3Cstop offset='0.973' stop-color='%23ababab'/%3E%3Cstop offset='1' stop-color='%23cccccc'/%3E%3Cstop offset='1' stop-color='%238b8b8b'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill-opacity='1' fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
  --mountain: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Crect fill='%23ff7700' width='1600' height='900'/%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  --pinwheel: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3Cpath id='a' d='M1309.92 623.54c-49.86 61.3-127.38 117.58-231.39 145.45-299.58 80.27-570.01-258.57-578.22-268.97-.2-.02-.31-.02-.31-.02s174.05 409.74 489.03 409.74c224.97 0 370.47-149.67 370.47-245.99 0-14.06-18.31-27.5-49.58-40.21z' /%3E%3C/defs%3E%3Crect fill='url(%23g)' x='-500' y='-500' width='2000' height='2000' /%3E%3Cuse fill='%23118800' href='%23a'%3E%3Canimate id='b' attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-4.6'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%232e9200' href='%23a' transform='rotate(15 500 500)'%3E%3Canimate id='b' attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-4.4'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23429c00' href='%23a' transform='rotate(30 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-4.2'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%2355a700' href='%23a' transform='rotate(45 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-4'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%2368b100' href='%23a' transform='rotate(60 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-3.8'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%237abb00' href='%23a' transform='rotate(75 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-3.6'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%238cc500' href='%23a' transform='rotate(90 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-3.4'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%239ecf00' href='%23a' transform='rotate(105 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-3.2'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23b1d900' href='%23a' transform='rotate(120 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-3'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23c4e200' href='%23a' transform='rotate(135 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-2.8'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23d7ec00' href='%23a' transform='rotate(150 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-2.6'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23ebf600' href='%23a' transform='rotate(165 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-2.4'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23ffff00' href='%23a' transform='rotate(180 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-2.2'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23ebf600' href='%23a' transform='rotate(195 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-2'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23d7ec00' href='%23a' transform='rotate(210 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-1.8'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23c4e200' href='%23a' transform='rotate(225 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-1.6'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23b1d900' href='%23a' transform='rotate(240 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-1.4'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%239ecf00' href='%23a' transform='rotate(255 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-1.2'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%238cc500' href='%23a' transform='rotate(270 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-1'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%237abb00' href='%23a' transform='rotate(285 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-.8'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%2368b100' href='%23a' transform='rotate(300 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-.6'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%2355a700' href='%23a' transform='rotate(315 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-.4'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%23429c00' href='%23a' transform='rotate(330 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite' begin='-.2'%3E%3C/animate%3E%3C/use%3E%3Cuse fill='%232e9200' href='%23a' transform='rotate(345 500 500)'%3E%3Canimate attributeName='fill' calcMode='spline' dur='4.8' values='%23118800%3B%23ffff00%3B%23118800' keySplines='.3 0 .7 1%3B.3 0 .7 1' repeatCount='indefinite'%3E%3C/animate%3E%3C/use%3E%3C/svg%3E");
  --rain: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1' x2='0' y1='0' y2='0'%3E%3Cstop offset='0' stop-color='%23F70' /%3E%3Cstop offset='.1' stop-color='%23e24930' /%3E%3Cstop offset='.3' stop-color='%23b7243f' /%3E%3Cstop offset='1' stop-color='%23850e42' stop-opacity='0' /%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='0' x2='1' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23500837' /%3E%3Cstop offset='1' stop-color='%23220022' /%3E%3C/linearGradient%3E%3Cg id='l'%3E%3Cpath fill='none' stroke='url(%23a)' stroke-width='3' stroke-linecap='round' d='M0 0l-900-900' /%3E%3Ccircle fill='%23FFF' stroke='none' cx='0' cy='0' r='1.5' /%3E%3C/g%3E%3Cg id='G'%3E%3Cuse href='%23l' x='1340' y='-929'/%3E%3Cuse href='%23l' x='1170' y='-629'/%3E%3Cuse href='%23l' x='1099' y='-700'/%3E%3Cuse href='%23l' x='999' y='-350'/%3E%3Cuse href='%23l' x='880' y='-26'/%3E%3Cuse href='%23l' x='670' y='-55'/%3E%3Cuse href='%23l' x='506' y='400'/%3E%3Cuse href='%23l' x='417' y='780'/%3E%3Cuse href='%23l' x='580'/%3E%3Cuse href='%23l' x='226' y='677'/%3E%3Cuse href='%23l' x='-45' y='380'/%3E%3Cuse href='%23l' x='74' y='834'/%3E%3Cuse href='%23l' x='-180' y='999'/%3E%3Cuse href='%23l' x='-700' y='1099'/%3E%3C/g%3E%3C/defs%3E%3Crect fill='url(%23e)' width='2000' height='1500' /%3E%3Cuse href='%23G' x='198' y='888'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-1' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-1' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3Cg transform='scale(1.2)'%3E%3Cuse href='%23G' x='243' y='753'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-2' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-2' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cuse href='%23G' x='777' y='222'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-3' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-3' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3Cg transform='scale(1.2)'%3E%3Cuse href='%23G' x='605' y='195'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-4' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-4' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cg transform='scale(0.9)'%3E%3Cuse href='%23G' x='379' y='591'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-5' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-5' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cg transform='scale(1.1)'%3E%3Cuse href='%23G' x='267' y='759'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-6' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-6' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cg transform='scale(0.9)'%3E%3Cuse href='%23G' x='808' y='108'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-7' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-7' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cg transform='scale(1.15)'%3E%3Cuse href='%23G' x='159' y='555'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-8' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-8' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cg transform='scale(1.25)'%3E%3Cuse href='%23G' x='599' y='191'%3E%3CanimateTransform attributeName='transform' type='translate' begin='-9' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' begin='-9' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3Cg transform='scale(1.1)'%3E%3Cuse href='%23G' x='426' y='695'%3E%3CanimateTransform attributeName='transform' type='translate' values='-999 -999%3B0 0' dur='10s' repeatCount='999'%3E%3C/animateTransform%3E%3Canimate attributeName='opacity' values='1%3B0' dur='10s' repeatCount='999'%3E%3C/animate%3E%3C/use%3E%3C/g%3E%3C/svg%3E");
  
  @include light;
  --window-width: 90vw;
  --window-height: 90vh;
  --sidebar-width: 300px;
  --window-content-width: calc(100% - var(--sidebar-width));
  --message-max-width: 80%;
  --full-height: 100%;
}

@media only screen and (max-width: 600px) {
  :root {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --sidebar-width: 100vw;
    --window-content-width: var(--window-width);
    --message-max-width: 100%;
  }

  .no-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}

html {
  height: var(--full-height);
  font-family: "Noto Sans", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
    "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  background-image: var(--dot);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--black);
  margin: 0;
  padding: 0;
  height: var(--full-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: pan-x pan-y;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    background-color: var(--second);
  }

  *:focus-visible {
    outline: none;
  }
}

::-webkit-scrollbar {
  --bar-width: 10px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: 20px;
  background-clip: content-box;
  border: 1px solid transparent;
}

select {
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

label {
  cursor: pointer;
}

input {
  text-align: center;
  font-family: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  appearance: none;
  border: var(--border-in-light);
  border-radius: 5px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  content: " ";
  border-radius: 2px;
}

input[type="range"] {
  appearance: none;
  background-color: var(--white);
  color: var(--black);
}

@mixin thumb() {
  appearance: none;
  height: 8px;
  width: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb();
}

input[type="range"]::-moz-range-thumb {
  @include thumb();
}

input[type="range"]::-ms-thumb {
  @include thumb();
}

@mixin thumbHover() {
  transform: scaleY(1.2);
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-moz-range-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-ms-thumb:hover {
  @include thumbHover();
}

input[type="number"],
input[type="text"],
input[type="password"] {
  appearance: none;
  border-radius: 10px;
  border: var(--border-in-light);
  min-height: 36px;
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
  padding: 0 10px;
  max-width: 50%;
  font-family: inherit;
}

div.math {
  overflow-x: auto;
}

.modal-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--full-height);
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-end;
  }
}

.link {
  font-size: 12px;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  position: relative;

  &:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 0.5;
  }

  .copy-code-button {
    position: absolute;
    right: 10px;
    top: 1em;
    cursor: pointer;
    padding: 0px 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;

    &:after {
      content: "copy";
    }

    &:hover {
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
  &:focus {
    filter: brightness(0.95);
  }
}

.error {
  width: 80%;
  border-radius: 20px;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow: auto;
  background-color: var(--white);
  color: var(--black);

  pre {
    overflow: auto;
  }
}

.password-input-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}

.user-avatar {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  border-radius: 11px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyable {
  user-select: text;
}
